/*Colors to use: board: #EA3546, backgorund: #EFE9F4, general background: #61D1FD*/
* {
  box-sizing: border-box;
}

body {
    background-color: #61D1FD;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #EFE9F4;
    text-align: center; 
    font-size: 50px;
    font-weight: 700;
}

#board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 25px;
    background-color: #EA3546;
    border: 5px solid black;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 960px;
}

#button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.play-button {
    width: 80px;
    height: 80px;
    background-color: #EFE9F4;
    border: 3px solid black;
    border-radius: 50%;
}

#container { 
    display: flex;
    width: 900px;
    flex-wrap: wrap;
    background-color: #EFE9F4;
    margin-top: 20px;
    margin-bottom: 20px;
}