/*Colors to use: board: #EA3546, backgorund: #EFE9F4, general background: #61D1FD*/
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #61D1FD;
    text-align: center;
}

.title {
    color: #EFE9F4;
    font-size: 50px;
    font-weight: 700;
}

#create {
    cursor: pointer;
    border: 3px solid black;
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 30px;
    margin: 10px;
    color: black;
    background-color: #EFE9F4;
}

#create:hover {
    background-color: #D8C9E4;
}

#board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 25px;
    background-color: #EA3546;
    border: 5px solid black;
    margin: auto;
    padding: 0px 30px;
    width: 960px;
}

#button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.play-button {
    width: 80px;
    height: 80px;
    background-color: #EFE9F4;
    border: 3px solid black;
    border-radius: 50%;
}

#container { 
    display: flex;
    width: 900px;
    flex-wrap: wrap;
    background-color: #EFE9F4;
    margin: 20px 0px;
}